{% comment %}
	Template Name : Custom Page
{% endcomment %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
    <div class="image-sec">
		<img src="{{'download.jpg' | asset_url  }}">
	</div>
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
  <div class="custom-page">
    {% section 'custompage-section' %}
  </div>
</div>
<html>
<body>
 {{ 'style.css' | asset_url | stylesheet_tag }}

 <div class="menu">
 {% if section.settings.align_logo == 'left' %}
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav', linklist: section.settings.main_linklist %}
        </nav>
      {% endif %}
 </div>
</body>
</html>
